<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <expandInitialFieldValue help="Processors should derive from Sitecore.Pipelines.ExpandInitialFieldValue.ExpandInitialFieldValueProcessor">
        <processor type="SitecoreExtension.TokenSet.Pipelines.ExpandInitialFieldValue.QueryToken, SitecoreExtension.TokenSet"
         patch:after="*[@type='Sitecore.Pipelines.ExpandInitialFieldValue.ReplaceVariables, Sitecore.Kernel']" />
        <processor type="SitecoreExtension.TokenSet.Pipelines.ExpandInitialFieldValue.FutureDateToken, SitecoreExtension.TokenSet"
         patch:after="*[@type='Sitecore.Pipelines.ExpandInitialFieldValue.ReplaceVariables, Sitecore.Kernel']" />
      </expandInitialFieldValue>
    </pipelines>
  </sitecore>
</configuration>
